body {
  margin: 1em;
  background: #000;
  color: #fff;
}

.game-container {
  display: flex;
  justify-content: space-between;
  /* max-width: 900px;
  margin: 0 auto; */
}

.grids {
  width: 560px;
  height: 560px;
  border: 10px solid #fff;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
}

.cell {
  width: 20px;
  height: 20px;
  background: #fff;
}

.pac-dot {
  background: lightblue;
  border: 8px solid #fff;
  box-sizing: border-box;
}

.wall {
  background: lightblue;
}

.score-booster {
  background: orangered;
  border-radius: 50%;
}

.pacman {
  background: orange;
  border: none;
  border-radius: 50%;
  padding: 0;
}

.ghost {
  background: url(https://toppng.com/uploads/preview/pixel-pixels-games-ios-appstore-free-freebie-pac-man-ghost-small-11563217796cswpdvkwbu.png);
  background-size: cover;
  border: none;
  background-position: center;
}

.pinky {
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwx94xa8ZuhqtW2uXbrQO2PjATOIoFi6uhNQ&usqp=CAU);
  background-size: cover;
  border: none;
  background-position: center;
}
