body {
  margin: 1em;
  background: #000;
  color: #fff;
  font-family: "Ranchers", cursive;
  font-size: 25px;
}

a {
  color: #fff;
}

.container {
  display: flex;
}

.game-container {
  width: 560px;
  height: 560px;
  border: 10px solid #fff;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  position: relative;
  margin-right: 1em;
}

.cell {
  width: 20px;
  height: 20px;
  background: #fff;
}

.pac-dot {
  background: lightblue;
  border: 8px solid #fff;
  box-sizing: border-box;
}

.wall {
  background: lightblue;
}

.score-booster {
  background: orangered;
  border-radius: 50%;
}

.pacman {
  background: yellow;
  border: none;
  border-radius: 50%;
  padding: 0;
}

.ghost {
  background: url(../images/ghost.png);
  background-size: cover;
  border: none;
  background-position: center;
}

.scared-ghost {
  background: url(../images/scared_ghost.jpeg);
  background-size: cover;
  border: none;
  background-position: center;
}

.game-over-text {
  position: absolute;
  color: #fff;
  font-size: 50px;
  top: -100%;
  left: -100%;
}

.diplay-game-over-text {
  top: 30%;
  left: 24%;
  color: #000;
}

.control-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.btn {
  background: #ff234f;
  border: unset;
  padding: 10px 20px;
  font-family: "Ranchers", cursive;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.score-section {
  text-align: right;
}
